# ----------------------------------------------------------------------------
# Buildout configuration file for %(project_name)s
# vars: parent_dirname, project_name
# generator: django-duke-client %(duke_client_version)s
# ----------------------------------------------------------------------------


# ----------------------------------------------------------------------------
[buildout]                                                                   #
# ----------------------------------------------------------------------------

# Tell buildout to check for new packages versions
newest = true

# Zipped eggs make debugging more difficult and often import more slowly.
unzip = true

# Do not use site packages (packages installed system wide)
include-site-packages = false 
exec-sitecustomize = false

# Define wich section is used to get packages versions
versions=versions

# We're developing a package whose setup.py lives in ., the current directory.
develop = .

# The parts option define which sections buildout must install
parts = 
 python 
 django
 website

extensions = 
 mr.developer

# Make the eggs available to any scripts running in this environment
eggs = 
 simplejson
#South
#PIL
#Markdown
#MySQL-python
#django-grappelli
#django-guardian
#django-haystack
#django-pagination
#django-pipeline
#django-positions
#django-uni-form
#django-userena
#easy-thumbnails
#elementtree
#jsmin
#psycopg2
#recaptcha-client
#textile
#xapian-haystack

# Checkout package from [sources]
auto-checkout = 
 django

# Use this directive to tell buildout which system wide package it can use.
#allowed-eggs-from-site-packages =
# PIL
# MySQL-python

# ----------------------------------------------------------------------------
[python] # Create a sandboxed interpreter named "python"                     #
# ----------------------------------------------------------------------------
recipe = z3c.recipe.scripts
interpreter = python
eggs = ${buildout:eggs}

# ----------------------------------------------------------------------------
[website]                                                                    #
# ----------------------------------------------------------------------------
recipe = z3c.recipe.scripts

# ----------------------------------------------------------------------------
[versions]                                                                  #
# ----------------------------------------------------------------------------
simplejson = 2.1.6
PIL=1.1.7
#django=1.4

# ----------------------------------------------------------------------------
[sources] # svn, hg or git                                                   #
# ----------------------------------------------------------------------------
django = git git://github.com/django/django.git
djangodukerecipe = git git://github.com/h3/django-duke-recipe.git

# ----------------------------------------------------------------------------
[django]                                                                     #
# ----------------------------------------------------------------------------
recipe = django-duke-recipe.git
project = website 
#test = appname
settings = settings
eggs = ${buildout:eggs}
extra-paths = src
