{# footer #}
{%% comment %%}
{%% block footer %%}
    <div id="footer" class="grid_24">
        <div id="copyright" class="clearfix">
            &copy; {%% now "Y" %%} {%% trans "All rights reserved" %%} WEBSITE NAME {%% trans "Website" %%}: <a href="http://motion-m.ca" target="_blank" title="{%% trans "Website created and maintained by Motion Média" %%}"><img alt="Motion Média" src="{{ STATIC_URL }}%(project_name)s/img/motion.png" title="Motion Média"></a>
        </div>
    </div>
{%% endblock %%}
{%% endcomment %%}
